/*
  = require ionicons
*/
@import 'bootstrap';
@import '_navbar';
@import '_footer';

[class^=ion-] {
  font-size: 36px;
}

#patents {
  .export-csv-button {
    float:right;
    position: relative;
    bottom: 10px;
  }
}

.actions {
  a + a {
    margin-left: 12px;
  }
}

/* root */
.past-queries {
  [class^=ion-] {
    font-size: 18px;
  }
}
/* patent_query */
.unprocessed {
  color: lighten($gray,40);
}

.error {
  border: 1px solid $state-danger-border;
  background-color: $state-danger-bg;
}

.processing .scrape [class^=ion-] {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}